.left-block {
  background-color: beige;
  display: inline-block;
  width: 25vw;
  height: 100%;
  padding: 20px;
  vertical-align: top;
}

.right-block {
  display: inline-block;
  height: 100%;
  padding: 20px;
  width: 70vw;
  vertical-align: top;
  overflow-y: scroll;
}

.master-container {
  height: 89vh;
}
